<%= render 'layouts/navigation' %>

<div>
    <h1>Groups</h1>
</div>


<%= render 'form' %>
<div class="row col-md-12 justify-content-around">
    <div class="row col-md-3 ">
        <table class="table text-center ">
            <thead class="table-dark">
                <tr>
                    <th colspan="3">My Groups</th>
                </tr>
            </thead>
            <%= render @groups %>

        </table>
    </div>
    <div class="col-md-8 border">
        <table class="table text-center ">
            <thead class="table-dark">
                <tr>
                    <th colspan="3"><%= @current_group.name %></th>
                </tr>
            </thead>
            

            <%= form_tag group_search_member_path, remote: true, method: :get do %>
            <tr>
                <div class="form-group d-flex justify-content-between">
                    <div class="col-3 align-self-center m-auto">
                        <%= label :name, "Your Friend Name" , class: "col-form-label fw-bold" %>
                    </div>
                    <div class="col-sm-6 m-2 align-self-center m-auto">
                        <%= text_field_tag :member, params[:member], placeholder: "Name or email" , autofocus: true,
                    class: "form-control" %>
                    </div>
                    <div class="col-2 align-self-center m-auto d-none">
                        <%= button_tag type: :submit, class: "btn btn-success btn-lg" do %>
                        <%= 'Search' %>
                        <% end %>
                    </div>
                </div>
            </tr>
            <% end %>
            <tr>
                <div id="member-results">
                    <% @members.each do |member| %>
                    <p><%= member.full_name %></p>
                    <%= link_to "Remove", group_destroy_member_path(member_id: member.id), :method=>"delete", data: {confirm: "Are you sure?"} %>
                    <% end %>
                </div>
            </tr>
        </table>
    </div>






</div>




<%= javascript_tag do %>
document.getElementById('member').addEventListener('keyup', () => {
document.getElementsByClassName('btn')[1].click();
});
<% end %>