<%= render 'layouts/navigation' %>

<div class="container">

    <div class="latest-orders text-center">
        <%= turbo_stream_from "orders" %>

        <%= turbo_frame_tag "latest-order"  do %>
        <h3>Latest Orders</h3>
        <% if current_user.orders.first %>
        <% current_user.orders.all.each do |order| %>
        <a href="<%= orders_path(order) %>"> <%= order.meal_type  %> on <%= order.created_at  %></a><br />
        <% end %>
        <% else %>
        <a href="#"> No Order Yet</a><br />
        <% end %>

        <% end %>


    </div>



    <div class="friends-activity text-center">
        <%= turbo_frame_tag "friends-activities"  do %>
        <h3>Friends Activity </h3>
        <a href="#"> any thing</a><br />
        <a href="#"> any thing</a><br />
        <a href="#"> any thing</a><br />
        <a href="#"> any thing</a><br />
        <% end %>
    </div>

</div>