<%= render 'layouts/navigation' %>

<div class="container">


    <div class="latest-orders text-center">
        <h3>Latest Orders</h3>
        <%= turbo_stream_from "orders" %>
        <%= turbo_frame_tag  "orders" do %>
        <%= render partial: "latest_order", collection: @latest_orders %>
        <% end %>
    </div>


    <div class="friends-activity text-center">
        <%= turbo_frame_tag "friends-activities"  do %>
        <h3>Friends Activity </h3>
        <a href="#"> any thing</a><br />
        <a href="#"> any thing</a><br />
        <a href="#"> any thing</a><br />
        <a href="#"> any thing</a><br />
        <% end %>
    </div>

</div>