<tr class="text-center">
    <td class="fs-5"> <%= detail.orderer.first_name %> </td>
    <td class="fs-5"> <%= detail.item %> </td>
    <td class="fs-5"> <%= detail.amount %> </td>
    <td class="fs-5"> <%= detail.price %> </td>
    <td class="fs-5"> <%= detail.comment %> </td>
</tr>