<%= render 'layouts/navigation' %>

<h1> New Order Form </h1>



<div class="row col-md-12" style="top:0%; left:0%; ">

    <div class="row col-md-6 " style="top:0%; left:0% ; ">
        <%= form_with model: @order do |form| %>
        <p>
            <%= form.label :meal_type %><br>
            <%= form.select :meal_type, ['breakfast', 'lunch', 'dinner'], selected: 'lunch' %>
        </p>

        <p>
            <%= form.label :restaurant %><br>
            <%= form.text_field :restaurant %>
        </p>

        <p>
            <%= form.label :menu_image %>
            <%= form.file_field :menu_image, accept: 'image/jpeg, image/gif, image/png, /image/jpg' %>
        </p>

        <p>
            <%= form.submit %>
        </p>
        <% end %>


    </div>


    <div class="col-md-6 row ">
        <div class="row col-md-12">

            <%= form_tag search_invited_path, remote: true, method: :get do %>
            <div class="form-group row">
                <div class="col-sm-9 no-right-padding">
                    <%= text_field_tag :invited , params[:invited], placeholder: "Add friend or group ",
                        autofocus: true, class: "form-control form-control-lg" , id: "searchTextField" %>
                </div>
                <div class="col-sm-3 no-left-padding d-none">
                    <%= button_tag type: :submit, class: "btn btn-success" , id: "searchBtn" do %> <%= 'Search'%> <% end %>
                </div>
            </div>
            <% end %>
        </div>


        <h3>Search Result Field</h3>
        <div class="row col-md-12 overflow-auto" style="top:0%; left:0% ; max-height: 400px;" id="order-member-result">
        </div>

        <h3>Invited Members Field</h3>
        <div class="row col-md-12 overflow-auto" style="top:0%; left:0% ; max-height: 400px;" id="order-member-final">
        </div>


    </div>

</div>


<%= javascript_tag do %>
document.getElementById('searchTextField').addEventListener('keyup', () => {
document.getElementById('searchBtn').click();
});
<% end %>