<h1> New Order</h1>
<%= form_with model: @order do |form| %>



<p>
    <%= form.label :meal_type %><br>
    <%= form.select :meal_type, ['breakfast', 'lunch', 'dinner'], selected: 'lunch' %>
</p>

<p>
    <%= form.label :menu_image %>
    <%= form.file_field :menu_image, accept: 'image/jpeg, image/gif, image/png, /image/jpg' %>
</p>

<p>
    <%= form.label :restaurant %><br>
    <%= form.text_field :restaurant %>
</p>


<p>
    <%= form.submit %>
</p>
<% end %>