<%= render 'layouts/navigation' %>

<div style="padding: 1%">


    <h1 style="margin-top: 2%; margin-bottom: 5%;"> My Orders</h1>

    <div class="d-flex justify-content-center" style="margin-bottom: 5%;">
        <a class="btn btn-primary w-25" href="/orders/new" role="button">
            Start New Order
        </a>
    </div>
    <%= turbo_stream_from "orders" %>
    <%= turbo_frame_tag  "orders" do %>
    <table class="table table-striped fs-4">

        <thead>
            <tr class="text-center">
                <th scope="col">Order</th>
                <th scope="col">Restaurant</th>
                <th scope="col">Invited</th>
                <th scope="col">Joined</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>

            <% for order in @orders do %>
            <tr class=" text-center" id="<%= dom_id (order) %>">
            <tr class=" text-center">
                <td class="fs-5"> <%=order.meal_type.capitalize() %> </td>
                <td class="fs-5"> <%= order.restaurant %> </td>
                <td class="fs-5"> <%= order.invitations.all.length %> </td>
                <td class="fs-5"> <%= order.invitations.accepted_invitations.length %> </td>
                <td class="fs-5"> <%= order.status.capitalize()  %> </td>
                <td class="fs-5"> <a href="<%=  order_path(order)%>">View</a>
                    <% if  order.status == "active" %>
                    <span> | </span>
                    <a href="<%=  order_update_status_path(order,"finish")%>">Finish</a>
                    <span> | </span>
                    <a href="<%=  order_update_status_path(order,"cancel")%>">Cancel</a>
                    <% end %>
                </td>
            </tr>

            <% end %>
          <%= will_paginate @orders , class: "d-flex justify-content-center" %>
        </tbody>
        <div style="display: none;">
            <%= render @orders %>
        </div>



    </table>
    <% end %>
</div>
