<link
  href="https://www.w3schools.com/w3css/4/w3.css"
  media="screen"
  rel="stylesheet"
/>
<%= render 'layouts/navigation' %>
<div style="padding: 1%">
  <h2>Order Info</h2>

  <h4><%= @order.meal_type.capitalize() %> from <%= @order.restaurant %></h4>
  <h6>
    By: <%= @order.owner.first_name.capitalize %> <%=
    @order.owner.last_name.capitalize()%>
  </h6>

  <% if @order.menu_image? %> <%= image_tag @order.menu_image.url,
  style:"height: 200px;width: 100%;", id: "image"%> <% else %>
  <img
    src="https://menuready.com.au/wp-content/uploads/2017/12/DUMMY-MENU.png"
    alt="unknown-image"
    style="width: 70px; height: 70px"
  />
  <% end %>
  <br />
  <br />
  <h4>Edit My Order Details</h4>
  <%= form_with model: @detail , url:
  order_detail_path(@detail.order_id,@detail.id) do |form| %> <%=
  form.hidden_field "orderer_id", value: @detail.orderer_id %>

  <div class="d-flex justify-content-lg-around align-items-center">
    <div class="col-2">
      <%= form.label :Item, class:"form-label"%> <%= form.text_field :item,
      class:"form-control", required: true %>
    </div>
    <div class="col-1">
      <%= form.label :Amount, class:"form-label"%> <%= form.number_field :amount, class:"form-control", required: true %>
    </div>
    <div class="col-1">
      <%= form.label :Price, class:"form-label"%> <%= form.number_field :price,
      class:"form-control", required: true%>
    </div>
    <div class="col-4">
      <%= form.label :Comment, class:"form-label"%> <%= form.text_area :comment,
      size: "30x1", class:"form-control" %>
    </div>
    <div class="col-1 mt-4"><%= form.submit class: "btn btn-primary"%></div>
  </div>
  <% end %>

  <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright"
      >&times;</span
    >
    <div class="w3-modal-content w3-animate-zoom">
      <img id="img01" style="width: 100%" />
    </div>
  </div>
</div>

<%= javascript_tag do %> $("#image").on("click", function(e) {
document.getElementById("img01").src = e.target.currentSrc;
document.getElementById("modal01").style.display = "block"; }); <% end %>
