<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {

        // request the data
        function getNotifications() {
            $.ajax({
                url: "/notifications.json",
                dataType: "JSON",
                method: "GET",
                success: handleSuccess,

                complete: function(data) {
                    setTimeout(getNotifications, 5000);
                }
            });
        }

        function handleSuccess(notifications) {

            items = $.map(notifications, (notification) => {
                return "<a class='dropdown-item' href = " + notification['url'] +
                    " id=" + notification['id'] + "> " + notification['message'] +
                    "</a>";
            });

            $("[data-behavior='notification-items']").html(items);

            // update the count
            $("[data-behavior='unread-count']").text(notifications.length);
        }

        $('#noti_Button').click(function() {

            // TOGGLE (SHOW OR HIDE) NOTIFICATION WINDOW.
            $('#notifications').fadeToggle('fast', 'linear', function() {
                if ($('#notifications').is(':hidden')) {}
            });

            $('#noti_Counter').fadeOut('slow'); // HIDE THE COUNTER.

            return false;
        });

        setTimeout(getNotifications, 5000);

    });
</script>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Co-Order</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="<%= home_index_path %>">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= friends_path %>">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= groups_path %>">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= orders_path %>">Orders</a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ali">



                    <li class="nav-item btn-group" data-behavior="notifications" data-notifications='<%= render template: "notifications/index", formats: [:json] %>'>
                        <a id="noti_Button" class="dropdown-toggle nav-link" type="button" data-behavior="notifications-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= fa_icon "bell" %> <span data-behavior="unread-count"></span>
                        </a>
                        <div id="notifications" class="dropdown-menu " aria-labelledby="dropdownMenu1" data-behavior="notification-items">
                        </div>
                    </li>

                    <%
=begin%>
                    <li id="noti_Container" class="nav-item align-self-center">
                        <div id="noti_Counter"></div>
                        <!--SHOW NOTIFICATIONS COUNT.-->

                        <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
                        <div id="noti_Button" style="background-color: rgba(255, 255, 255, 0.55)"><i class="fas fa-bell"></i></div>

                        <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                        <div id="notifications">
                            <h3>Notifications</h3>
                            <%= render partial: "layouts/notification", collection: current_user.notifications %>
                            <div class="seeAll"><a href="#">See All</a></div>
                        </div>
                    </li>
                    <%
=end%>



                    <li class="nav-item ">
                        <% if current_user.image? %>
                        <a href="<%= edit_user_path(current_user.id) %>"><%= image_tag current_user.image.url, style: 'height:70px;width:70;' %></a>
                        <% else %>
                        <a href="<%= edit_user_path(current_user.id) %>"><img src="https://i.ibb.co/SK3QN1j/unknown-image.jpg" alt="unknown-image" style="width: 70px;height: 70px;"></a>
                        <% end %>
                    </li>
                    <li class="nav-item align-self-center">
                        <% if user_signed_in? %>
                        <span class="nav-link"><%= current_user.first_name %></span>
                    </li>
                    <li class="nav-item align-self-center">
                        <%=  link_to 'Logout', destroy_user_session_path, class: "nav-link", method: :delete %>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
</nav>


<script>
    // When the user clicks on div, open the popup
    function myFunction() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
    }
</script>
</nav>